# Arquivos de ambiente
.env
# Arquivos de exportação
exports/
*.xlsx

# Bytecode Python
__pycache__/
*.py[cod]
*$py.class

# Diretórios do ambiente virtual
venv/
env/
ENV/

# Logs
*.log

# Diretórios específicos do IDE
.idea/
.vscode/
*.sublime-workspace

# Arquivos temporários do sistema
.DS_Store
Thumbs.db 